/*=============================================
ESCRITORIO (XL revisamos en 1366px en adelante)
=============================================*/

*{
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Chewy', cursive;*/
}

ul, ol{
	list-style:none;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style:none;
	text-decoration: none;
}

/*=============================================
HEADER
=============================================*/
header{
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	background: rgba(0,0,0,.5);
}

header .logotipo{
	width:45%;
}

.redes ul li i{
	width:35px;
	line-height: 35px;
	text-align:center;
	cursor:pointer;
}

.redes ul li i.fa-facebook-f{
	background: #1475E0;
}

.redes ul li i.fa-instagram{
	background: #B18768;
}

.redes ul li i.fa-twitter{
	background: #00A6FF;
}

.redes ul li i.fa-youtube{
	background: #F95F62;
}

.redes ul li i.fa-snapchat-ghost{
	background: #FF9052;
}

.fa-bars{
	font-size:35px;
}

.fa-search, .fa-bars{
	color:white;
}

.redesMovil{
	position:fixed;
	bottom:-10px;
	left:50%;
	z-index:10;
	transform: translate(-50%, 0%);
}

/*=============================================
BANNER
=============================================*/

.fade-slider{
	position:fixed;
	z-index:-1;
	top:0;
	left:0;
}

.bannerEstatico{
	background:rgba(0,0,0,0);
}

.textoBanner{
	position:absolute;
	width:50%;
	text-align: center;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:white;
}

.textoBanner h1{
	font-family: 'Chewy', cursive;
	font-size:60px;
}

.textoBanner h5{
	line-height:30px;
	font-weight: 100;
	font-size:18px;
}

/*=============================================
MENÚ
=============================================*/

.menu{
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.8);
	overflow-x:hidden;
	font-weight:300;
	display:none;
	font-size:34px;
	line-height:70px;
}

.btnClose{
	position:absolute;
	top:100px;
	right:25%;
	color:white;
}

.menu .nav{
	margin-top:10%;
}